
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <br />
    <input type="hidden" name="CityIDP" id="CityIDP" value="0" />
    <label for="StateIDF">State Name</label>
    <select class="form-control" name="StateIDF" id="StateIDF">
        <option value="0">-- Select State --</option>
        @{
            if (ViewBag.lstState != null)
            {
                foreach (SQLClass.StateCityClass item in ViewBag.lstState)
                {
                    <option value="@item.StateIDP">@item.StateName</option>
                }
            }
        }
    </select>
    <br />
    <label for="CityName">City Name</label>
    <input type="text" class="form-control" id="CityName" name="CityName" placeholder="Enter City Name" maxlength="50" onkeydown="return /[a-z]/i.test(event.key)"/>
</div>
<div class="form-group">
    <button type="button" id="btnSubmit" class="btn btn-success" onclick="Save();">Save</button>
</div>

<div class="row">
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>CityName</th>
                <th>StateName</th>
                <th>IsActive</th>
                <th>Action</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody id="Data">
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            GetData(10, 1)
        });

        function GetData(RowsPerPage, PageNumber) {
            var mData = {
                RowsPerPage: RowsPerPage,
                PageNumber: PageNumber
            };
            $.ajax({
                type: "POST",
                url: "/CityMaster/CityMaster_Get_GetAllPagging",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    var obj = JSON.parse(mRes);
                    var objData = obj[0].Data;
                    var iHTML = "";

                    if (objData.length == 0) {
                        $("#Data").html("<tr><td colspan='6' align='center'>No Data</td></tr>")
                    }
                    else {
                        for (var i = 0; i < objData.length; i++) {
                            iHTML += "<tr>";
                            iHTML += "<td style='width:2%'>" + objData[i].SrNo + "</td>";
                            iHTML += "<td style='width:12%'>" + objData[i].CityName + "</td>";
                            iHTML += "<td style='width:12%'>" + objData[i].StateName + "</td>";
                            iHTML += '<td style="width:12%"><button class="btn btn-' + (objData[i].IsActive == true ? "success" : "danger") + '" onclick="GeneralAction(&quot;' + objData[i].CityIDP + '&quot;,&quot;1&quot;)">&nbsp;' + (objData[i].IsActive == true ? "Active" : "DeActive") + '</button></td>';
                            iHTML += '<td style="width:18%"><button class="btn btn-info w-sd" id=' + objData[i].CityIDP + ' onclick="Get(' + objData[i].CityIDP + ')">Edit</button>';
                            iHTML += '&nbsp;<button id="DeleteRecord" class="btn btn-danger' + '" onclick="GeneralAction(&quot;' + objData[i].CityIDP + '&quot;,&quot;2&quot;)">&nbsp;' + (objData[i].IsDelete == true ? "Delete" : "Delete") + '</button></td>';
                            iHTML += "<td style='width:12%'>" + objData[i].CreatedDateTime + "</td>";
                            iHTML += "</tr>";
                        }
                        $("#Data").html(iHTML);
                    }
                }
            })
        }

        function Get(id) {
            var mData = { CityIDP: id }
            $.ajax({
                type: "POST",
                url: "/CityMaster/CityMaster_Get_GetByID",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (mRes) {
                    var obj = JSON.parse(mRes);
                    $("#CityIDP").val(obj[0].CityIDP);
                    $("#StateIDF").val(obj[0].StateIDF).trigger('change');
                    $("#CityName").val(obj[0].CityName);
                    $("#btnSubmit").text("Edit");
                },
            })
        }
        function Save() {
            var mData = {
                CityIDP: $("#CityIDP").val(),
                StateIDF: $("#StateIDF").val(),
                CityName: $("#CityName").val(),
            }
            $.ajax({
                type: "POST",
                url: "/CityMaster/CityMaster_Insert_Update",
                data: JSON.stringify(mData),
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result.Outval == 1) {
                        GetData(10, 1);
                        $("#btnSubmit").text("Save");
                        ClearControls();
                        alert(result.Outmsg);
                    }
                    else {
                        alert(result.Outmsg);
                    }
                }
            })
        }

        function GeneralAction(id, ActionType) {
            var Id = {
                CityIDP: id,
                ActionType: ActionType,
            };
            var check;
            if (ActionType == 1) {
                check = confirm("Are you sure want to change a staus?");
            }
            else {
                check = confirm("Are you sure want to delete?");
            }
            if (check) {
                $.ajax({
                    type: "POST",
                    url: "/CityMaster/CityMaster_GeneralAction",
                    data: JSON.stringify(Id),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (mRes) {
                        if (mRes.Outval == 1) {
                            GetData(10, 1);
                            alert(mRes.Outmsg);
                        }
                        else {
                            alert(mRes.Outmsg);
                        }
                    }
                })
            }
            return true;
        }

        function ClearControls() {
            $("#CityIDP").val(0);
            $("#StateIDF").val(0);
            $("#CityName").val("");
        }
    </script>
}

